## Archivos y carpetas de compilación
bin/
obj/
out/

## Configuración del usuario
*.user
*.suo
*.userosscache
*.sln.docstates

## Archivos de publicación
*.publish.xml

## Paquetes NuGet
packages/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

## Configuraciones y secretos locales
appsettings.Development.json
secrets.json
.env

## Archivos de VS
.vs/
.vscode/

## Archivos del sistema
*.DS_Store
Thumbs.db
