body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #005f73;
}

    .navbar .nav-link,
    .navbar .navbar-brand {
        color: #fff;
    }

.main-container {
    padding-top: 100px;
    min-height: 80vh;
}

footer {
    background-color: #003845;
    color: #fff;
    padding: 20px 0;
}

    footer h5 {
        font-weight: 600;
    }

    footer a:hover {
        color: #0dcaf0;
    }
